$active: #ffc000;
$active-hover: #E3AB00;
$light: #edeeee;
$dark: #000000;

$border: rgba(0, 0, 0, 0.2);

$text-main: #000000;
$text-secondary: #53565A;
$text-light: #ffffff;
$text-message: rgba(0, 0, 0, 0.2);
$text-date: rgba(0, 0, 0, 0.4);

$bg-header: #ffffff;
$bg-description: #ffffff;
$bg-news_slider: #edeeee;
$bg-type-news: #ffffff;