block html
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //- Swiper
    link(href="/node_modules/swiper/dist/css/swiper.min.css" rel="stylesheet")
    script(type="text/javascript" src="/node_modules/swiper/dist/js/swiper.min.js")

    title Well Yes

  body