//- Links in header
- var links = [{url: 'javascript:void(0);', text: 'Главная'}, {url: 'javascript:void(0);', text: 'О нас'}, {url: 'javascript:void(0);', text: 'Каталог'}];

//- Links in aside menu
- var linksMenu = [{url: 'javascript:void(0);', text: 'Документы'}, {url: 'javascript:void(0);', text: 'Планы'}, {url: 'javascript:void(0);', text: 'О нас'}, {url: 'javascript:void(0);', text: 'Инструкция'}];

//- Apartaments info in #menu
- var apartsInfo = [{name: 'Апартаменты 1', address: 'г. Сочи, ул. Виноградная 20'}, {name: 'Апартаменты 2', address: 'г. Сочи, ул. Виноградная 20'}];

//- Message info
- var messageInfo = [{date: '9/05/2019', title: 'Как достигнуть понимания между дизайнерами и разработчиками', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}, {date: '10/05/2019', title: 'Короткое уведомление', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}, {date: '11/05/2019', title: 'Как достигнуть понимания между дизайнерами и разработчиками', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum'}];

//- Slides
- var news = [{link: 'javascript:void(0);', date: '7/05', promotion: true, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'}, {link: 'javascript:void(0);', date: '8/05', promotion: false, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'}, {link: 'javascript:void(0);', date: '9/05', promotion: true, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'}, {link: 'javascript:void(0);', date: '10/05', promotion: false, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'}, {link: 'javascript:void(0);', date: '11/05', promotion: true, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'}, {link: 'javascript:void(0);', date: '12/05', promotion: false, descr: 'Как достигнуть понимания между дизайнерами и разработчиками. Практические советы'},];

//- Footer social links
- var socialLinks = [{url: 'javascript:void(0);', src: '../../assets/images/fb.svg', alt: 'Facebook'}, {url: 'javascript:void(0);', src: '../../assets/images/tw.svg', alt: 'Twitter'}, {url: 'javascript:void(0);', src: '../../assets/images/tele.svg', alt: 'Telegram'}, {url: 'javascript:void(0);', src: '../../assets/images/insta.svg', alt: 'Instagram'}, {url: 'javascript:void(0);', src: '../../assets/images/pint.svg', alt: 'Pinteres'}];

//- Contacts
- var number = '+7 999 999-99-99';
- var address = 'г. Сочи, ул. Виноградная 20, оф. 402';
- var email = 'yes@wellyes.ru';

//- Footer nav links
- var footerNavLinks = [{title: 'Раздел 1', links: [{name: 'Подраздел 1', url: 'javascript:void(0);'}, {name: 'Подраздел 2', url: 'javascript:void(0);'}, {name: 'Подраздел 3', url: 'javascript:void(0);'}, {name: 'Подраздел 4', url: 'javascript:void(0);'}, {name: 'Подраздел 5', url: 'javascript:void(0);'}]}, {title: 'Раздел 2', links: [{name: 'Подраздел 1', url: 'javascript:void(0);'}, {name: 'Подраздел 2', url: 'javascript:void(0);'}, {name: 'Подраздел 3', url: 'javascript:void(0);'}, {name: 'Подраздел 4', url: 'javascript:void(0);'}, {name: 'Подраздел 5', url: 'javascript:void(0);'}]}, {title: 'Раздел 3', links: [{name: 'Подраздел 1', url: 'javascript:void(0);'}, {name: 'Подраздел 2', url: 'javascript:void(0);'}, {name: 'Подраздел 3', url: 'javascript:void(0);'}, {name: 'Подраздел 4', url: 'javascript:void(0);'}, {name: 'Подраздел 5', url: 'javascript:void(0);'}]}]