$link: #ffffff;
$logo: #ffffff;
$main-color-font: #222222;
$second-color-font: #ffffff;
$button: #ffffff;
$text-font: #777777;
$bg-branding: #fafafa;
$bg-hello: #7690c5;
$bg-footer: #7690c5;
$active: #7690c5;