@font-face {
  font-family: 'Roboto-thin';
  src:  url('../fonts/Robotothin.woff2') format('woff2'), 
        url('../fonts/Robotothin.woff') format('woff'), 
        url('../fonts/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto.woff2') format('woff2'), 
        url('../fonts/Roboto.woff') format('woff'), 
        url('../fonts/Roboto.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

$main_font: 'Roboto', sans-serif;
$header_font: 'Roboto-thin', sans-serif;