@font-face {
  font-family: 'Roboto-thin';
  src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff"), url("../fonts/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff"), url("../fonts/Roboto.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #1c1c1c;
  font-size: 14px; }

.content {
  width: 768px; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #1c1c1c !important; }

.nav-link {
  color: #435993 !important; }

.navbar-toggler {
  margin-left: -16px; }

.title {
  background: url(../img/background.png) no-repeat;
  -webkit-background-size: 768px;
          background-size: 768px;
  color: #000000;
  font-family: "Roboto-thin", sans-serif;
  font-size: 70px;
  padding-top: 80px;
  margin: 0;
  font-weight: 400;
  line-height: 0.7;
  text-align: center; }

.logo {
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 25px;
  width: 47px;
  height: 47px; }

.title--s {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 30px; }

.inputs input {
  margin: 0 auto;
  width: 520px; }

.inputs .input--date {
  position: relative;
  width: 320px; }
  .inputs .input--date:before {
    content: url(../img/angle-down-solid.svg);
    display: block;
    top: 0;
    z-index: 1000;
    width: 20px;
    height: 20px; }

.inputs ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #c8c8c8;
  text-align: center; }

.inputs ::-moz-placeholder {
  /* Firefox 19+ */
  color: #c8c8c8;
  text-align: center; }

.inputs :-ms-input-placeholder {
  /* IE 10+ */
  color: #c8c8c8;
  text-align: center; }

.inputs :-moz-placeholder {
  /* Firefox 18- */
  color: #c8c8c8;
  text-align: center; }

.experience input[type=checkbox] {
  display: none; }

.experience input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 21px;
  margin-right: 8px;
  vertical-align: middle;
  border: 1px solid #435993;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer; }

.experience input[type=checkbox]:checked + label::before {
  content: url(../img/check-solid.svg); }

.experience label {
  position: relative;
  left: 50px; }

.checkbox-block {
  margin-top: 50px; }

.c-1-color {
  background: -webkit-gradient(linear, left top, right bottom, from(#d7b3f4), to(#8a87c6));
  background: -webkit-linear-gradient(top left, #d7b3f4, #8a87c6);
  background: -o-linear-gradient(top left, #d7b3f4, #8a87c6);
  background: linear-gradient(to bottom right, #d7b3f4, #8a87c6); }

.range__block {
  position: relative;
  padding-top: 100px; }
  .range__block span {
    position: absolute;
    display: inline-block;
    width: 25%;
    z-index: 104;
    bottom: 30px; }
    .range__block span::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 20px;
      border-left: 2px dotted #b9b9b9;
      bottom: -25px; }
    .range__block span:nth-of-type(2) {
      right: 50%; }
      .range__block span:nth-of-type(2)::before {
        height: 17px;
        bottom: -22px;
        left: -2px; }
    .range__block span:nth-of-type(3) {
      right: 25%; }
      .range__block span:nth-of-type(3)::before {
        height: 14px;
        bottom: -19px;
        left: -2px; }
    .range__block span:last-of-type {
      right: 0;
      text-align: right; }
      .range__block span:last-of-type::before {
        height: 10px;
        bottom: -9px;
        right: 0; }
  .range__block .block--white {
    position: absolute;
    background: -webkit-gradient(linear, right bottom, left top, from(transparent), color-stop(48%, transparent), color-stop(50%, #ffffff), to(#ffffff));
    background: -webkit-linear-gradient(bottom right, transparent 0%, transparent 48%, #ffffff 50%, #ffffff 100%);
    background: -o-linear-gradient(bottom right, transparent 0%, transparent 48%, #ffffff 50%, #ffffff 100%);
    background: linear-gradient(to top left, transparent 0%, transparent 48%, #ffffff 50%, #ffffff 100%);
    width: 100%;
    height: 18px;
    z-index: 100; }

.about p {
  width: 492px;
  margin: 0 auto;
  text-align: center; }

.about textarea {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 40px;
  resize: none; }

.btn__ready {
  display: block;
  margin: 70px auto;
  background: #435993;
  color: white;
  -webkit-box-shadow: 1px 3px 10px grey;
          box-shadow: 1px 3px 10px grey;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .btn__ready:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 2px 5px 10px 1px grey;
            box-shadow: 2px 5px 10px 1px grey; }

@media (max-width: 768px) {
  .title {
    font-size: 60px; }
  .content {
    width: 576px; }
  .inputs input {
    margin: 0 auto;
    width: 320px; }
  .experience label {
    white-space: nowrap;
    font-size: 12px;
    left: 25px; }
  .range__block {
    padding-top: 80px; }
    .range__block span {
      font-size: 12px; }
  .about p {
    width: 292px;
    margin: 0 auto;
    text-align: center; }
  .about textarea {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 40px;
    resize: none; } }

@media (max-width: 576px) {
  .title {
    font-size: 40px; }
  .content {
    width: 300px; }
  .inputs input {
    margin: 0 auto;
    width: 220px !important; }
  .experience label {
    white-space: nowrap;
    font-size: 12px;
    left: 25px; }
  .range__block {
    padding-top: 130px; }
    .range__block span {
      font-size: 8px; }
  .about p {
    width: 200px;
    margin: 0 auto;
    text-align: center; }
  .about textarea {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    resize: none; } }
