// Position =============================================================
.posr {
  position: relative !important;
}

.posa {
  position: absolute !important;
}

// Перенос слов ==================
.nowrap {
  white-space: nowrap;
}

// Uppercase ====================
.uppercase {
  text-transform: uppercase;
}

// Жирность
.fw-normal {
  font-weight: normal !important;
}

.fw-bold {
  font-weight: bold !important;
}

// Размеры шрифта ==================================================
.fz6 {
  font-size: 0.375rem;
}

.fz7 {
  font-size: 0.4375rem;
}

.fz9 {
  font-size: 0.5625rem;
}

.fz10 {
  font-size: 0.625rem;
}

.fz12 {
  font-size: 0.75rem;
}

.fz13 {
  font-size: 0.8125rem;
}

.fz14 {
  font-size: 0.8125rem;
}

.fz15 {
  font-size: 0.9375rem;
}

.fz16 {
  font-size: 1rem;
}

.fz18 {
  font-size: 1.125rem;
}

.fz19 {
  font-size: 1.1875rem;
}

.fz20 {
  font-size: 1.1875rem;
}

.fz22 {
  font-size: 1.375rem;
}

.fz23 {
  font-size: 1.375rem;
}

.fz24 {
  font-size: 1.5rem;
}

.fz26 {
  font-size: 1.5625rem;
}

.fz27 {
  font-size: 1.6875rem;
}

.fz28 {
  font-size: 1.75rem;
}

.fz29 {
  font-size: 1.75rem;
}

.fz30 {
  font-size: 1.875rem;
}

.fz31 {
  font-size: 1.9375rem;
}

.fz32 {
  font-size: 1.9375rem;
}

.fz34 {
  font-size: 2.125rem;
}

.fz44 {
  font-size: 2.6875rem;
}

// Размеры
.mw-100 {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.mh-100 {
  max-height: 100%;
}

.h-100 {
  height: 100%;
}

// Цвет текста ======================================================

.main-color {
  color: $mainFontColor;
}

.active-color {
  color: $active-color;
}

.default-color {
  color: $default-color;
}

// Текст

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.title {
  font-size: rem(36px);
  font-weight: $mainFontWeight;
  line-height: rem(54px);
}


.main_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(180px);
  max-height: rem(60px);
  padding: rem(24px) rem(31px);

  background-color: $active-color;
  border-radius: rem(30px);
  white-space: nowrap;

  &:hover {
    background-color: desaturate($active-color, 15%);
  }

  &:active {
    background-color: desaturate($active-color, 5%);
    -moz-background-color: desaturate($active-color, 5%);
  }
}

.outline_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: rem(200px);
  max-height: rem(60px);
  padding: rem(24px) rem(36px);

  background-color: transparent;
  border-radius: rem(30px);
  border: rem(2px) solid $border-base;
  white-space: nowrap;

  &:hover {
    color: $active-color;
  }

  &:active {
    border-color: $active-color;
  }
}

.input {
  padding-left: rem(20px);
  background-color: transparent;
  border-radius: rem(30px);
  border: rem(1px) solid $border-base;

  &:hover {
    border-color: lighten($border-base, 10%);
  }

  &:focus {
    border-color: $default-color;
  }
}

.preview-pagination {
  width: rem(72px) !important;
  height: rem(16px);
  border-radius: rem(8px);
  border: rem(1px) solid $border-base;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: rem(47px) !important;

  .swiper-pagination-bullet {
    width: rem(16px);
    height: rem(1px);
    border-radius: rem(1px);
    opacity: 1;
    background-color: $border-base;

    &-active {
      background-color: $border-light;
    }
  }
}