
@font-face {
  font-family: 'Cera Round Pro DEMO';
  src: url('/assets/fonts/CeraRoundProDEMO-Medium.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Medium.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Medium.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Medium.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Medium.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Medium.svg#CeraRoundProDEMO-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('/assets/fonts/CeraRoundProDEMO-Bold.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Bold.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Bold.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Bold.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Bold.svg#CeraRoundProDEMO-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('/assets/fonts/CeraRoundProDEMO-Black.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Black.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Black.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Black.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Black.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Black.svg#CeraRoundProDEMO-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('/assets/fonts/CeraRoundProDEMO-Thin.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Thin.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Thin.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Thin.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Thin.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Thin.svg#CeraRoundProDEMO-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('/assets/fonts/CeraRoundProDEMO-Regular.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Regular.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Regular.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Regular.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Regular.svg#CeraRoundProDEMO-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('/assets/fonts/CeraRoundProDEMO-Light.eot');
  src: url('/assets/fonts/CeraRoundProDEMO-Light.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/CeraRoundProDEMO-Light.woff2') format('woff2'),
      url('/assets/fonts/CeraRoundProDEMO-Light.woff') format('woff'),
      url('/assets/fonts/CeraRoundProDEMO-Light.ttf') format('truetype'),
      url('/assets/fonts/CeraRoundProDEMO-Light.svg#CeraRoundProDEMO-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('/assets/fonts/Geometria.eot');
  src: url('/assets/fonts/Geometria.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Geometria.woff2') format('woff2'),
      url('/assets/fonts/Geometria.woff') format('woff'),
      url('/assets/fonts/Geometria.ttf') format('truetype'),
      url('/assets/fonts/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

