// Font
$mainFont                  : 'Cera Round Pro', Helvetica, Arial, sans-serif;
$buttonFont                : 'Geometria', 'Cera Round Pro', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #60759d;
$mainFontSize            : 16px;
$mainFontWeight          : 500;
$mainLineHeight          : 24px;

$desktopWidth            : 1160px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$active-color            : #e70067;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #5489c3;
$border-base-light       : #16afe0;
$border-light            : #fafbfd;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Background color
$bg-main                 : #fafaff;
$bg-dark                 : #fafaff;
$bg-app-functions        : #f6f9fc;
$bg-menu                 : #307bb5;

// Placeholde color
$placeholder-color       : #a8b2bf;

// Dots list
$dot-color               : #16afe0;
