// Colors

$active: #F47821;
$soft: #878787;
$light: #FFFFFF;
$dark: #161616;

$text-main: #222222;
$text-second: #4E4D53;
$text-dark: #000000;

$bg-darken: #F7F5FA;
$bg-light: #FFFFFF;
$bg-dark: #161616;

$border-light: #EDEDED;
$border-dark: #F7F5FA;

// Fonts
$font-main: 'DIN Pro', sans-serif;
$font-second: 'Roboto', sans-serif;
$font-button: 'Gilroy', sans-serif;

// Size
$size-header: 3rem; //48px
$size-header-small: 1.25rem; //20px
$size-primary: 1.5rem; //24px
$size-small: 0.75rem; //12px
$size-normal: 1rem; //16px
