@media (max-width: 1200px){
	.features--border {
		width: 300px;
		height: 460px;
	}
	.border-block{
		width: 292px;
		height: 452px;
	}
	.features__content{
		.product__promo--text{
			font-size: 14px;
		}
		.product__image{
			max-width: 90%;
		}
	}
	.active {
	  position: relative;
	  width: 300px;
	  height: 460px;
	  margin: 0 auto;
	  background: linear-gradient(135deg, transparent 35px, $border-select 0);  
	  border-radius: 12px;
	  transition: .3s;
	  cursor: pointer;
	  &:hover{
	  	transition: .3s;
	  	background:linear-gradient(135deg, transparent 35px, $border-select-hover 0);
	  	.product__weight{
	  		background-color: $border-select-hover;
	  	}
	  }
	  .product__weight{
	  	background-color: $border-select;
	  }
	}
}