$active: #f16d7f;
$font-color: #222222;
$font-color-second: #ffffff;
$font-button-cart: #4a4a4a;
$second: #a4a4a4;
$border: #e6e6e6;
$bg: #ffffff;
$bg-browse: #cdcdcc;
$bg-close: #c0c0c0;
$bg-promo: #e8e8e8;
$product-header: #9f9f9f;
$bg-feature: #222224;
$bg-category: #dadad2;
$bg-footer: #e6e6e6;
$copyright: #7a7a7a;
$social-link: #b2b2b2;
$social-link-hover: #f7f7f8;
$bg-disabled: #eeeeee;
$text-disabled: #b2b2b2;