
.swiper-container {
  width: 500px;
  height: 211px;
  margin: 0;
}

.swiper-pagination{
  text-align: left;
  padding-left: 105px;
}
.swiper-pagination-bullet{
  position: relative;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  border-radius: 0;
  opacity: 1;
  margin: 0 6px !important;
  &:after{
    position: absolute;
    content: '';
    width: 38px;
    height: 60px;
    top: -30px;
    left: 0;
  }
}
.swiper-pagination-bullet-active{
  background-color: $active;
}