@import '_color';
@import '_font';

body{
  padding: 0;
  margin: 0;
  background-color: #ffffff;
	font-family: $main;
	background-color: rgb(223, 223, 223);
}

.link--animate{
  text-decoration: none;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $color-font;
    transition: 0.2s;
  }
  &:hover{
    &::before{
      width: 100%;
    }
  }
}

.h{
  display: inline-block;
  font-size: 32px;
  font-family: $header;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-bottom: 2px;
}

.button{
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: $button;
	border: none;
	border-radius: 20px;
  padding: 5px 15px;
  margin-top: 30px;
  outline: none;
  box-shadow: 2px 8px 15px rgba(0,0,0,0.7);
  transition: 0.2s;
  &:hover{
    transform: scale(1.1);
    box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
  }
}

.wrapper{
	position: relative;
	display: flex;
	align-items: flex-start;
  overflow: hidden;
}
.left_side{
	position: fixed;
	display: inline-block;
  left: 0;
  top: 0;
  width: 22%;
	height: 100%;
	overflow-y: auto;
  background-color: $bgc;
  padding: 40px;
}
.photo__block{
  margin-top: -25px;
  width: 100%;
}
.photo__wrap{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid black;
  margin: 0 auto;
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 50%;
    background-color: $bgc-photo;
  }
}

.header__block{
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #000000;
  img{
    position: absolute;
    top: 50%;
    height: 20px;
    margin-top: -4px;
  }
}
.contacts__header{
  position: relative;
  background-color: $bgc;
  margin-top: 20px;
  z-index: 100;
}
.contacts__link{
  display: inline-block;
  color: $color-font;
  margin-top: 14px;
  &:hover{
    color: $color-font;
    text-decoration: none;
  }
}
.contacts__link_image{
  padding-right: 10px;
  max-width: 35px;
}

// Навыки
.skills{
  margin-bottom: 20px;
}
.skills__header{
  position: relative;
  margin-top: 20px;
}
.skills__list{
  padding: 0;
  list-style: none;
}
.list-item{
  position: relative;
  padding-left: 15px;
  margin-top: 5px;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #000000;
  }
}

.content{
  width: 78%;
  margin-left: 22%;
	padding: 40px;
	background: url(../img/bg.jpg);
	background-size: cover;
}
.content__header-box{
  border-bottom: 2px solid $color-font;
}
.content__header{
  // width: 50%;
  color: $color-font;
  font-family: $header;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  letter-spacing: 4.28px;
  margin-top: -10px;
}
.content__par{
  font-size: 26px;
}

.portfolio-header__block{
  position: relative;
  margin-top: 50px;
}
.portfolio-header{
  display: inline;
  font-family: $portfolio;
  font-size: 52px;
  z-index: 10;
}
// .line{
//   position: absolute;
//   background: url(../img/Shape_Line.png) 100% no-repeat;
//   background-size: cover;
//   width: 75%;
//   top: 50%;
//   right: 0;
//   height: 20px;
//   margin-top: -5px;
// }
.portfolio--text{
  position: absolute;
  font-family: $portfolio;
  font-size: 52px;
  line-height: 1;
  top: 0;
  right: 60px;
}

.card__box{
	margin-top: 50px;
}
.card-work{
	display: flex;
	flex-direction: column;
	
}
.card-wrap{
	padding: 20px;
	border: 2px solid black;
	margin-bottom: 30px;
	display: flex;
  flex-direction: column;
	flex: 1 1 auto;
}

.img_wrap{
  position: relative;
	margin: 0 auto;
  display: block;
	width: 100%;
	height: 150px;
	min-width: 100%;
	max-height: 100%;
	overflow: hidden;
  img{
    position: absolute;
    max-width: 100%;
		max-height: 100%;
		margin: auto;
		right: -50%;
		left: -50%;
		top: -50%;
		bottom: -50%;
    transition: all .4s ease-in-out;
	}
}

.img_wrap img.front{
  opacity: 0;
  // filter: alpha(opacity=0);
}
.img_wrap:hover img.front{
  opacity: 1;
  // filter: alpha(opacity=100);
}
.img_wrap:hover img.back, .img_wrap img.back:hover{
  opacity: 0;
  // filter: alpha(opacity=0);
}

.card__header{
	
}
.card__text{
	padding-bottom: 50px;
	text-align: justify;
}
.btn_open{
	display: block;
	position: absolute;
	bottom: 60px;
	width: 200px;
	left: 50%;
	margin: 0;
	margin-left: -100px;
	background-color: $button;
	text-align: center;
	color: $color-font;
	&:hover{
		text-decoration: none;
		color: $color-font;
	}
}


@import '_media';