@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/EuropeExt/EuropeExt.eot");
  src: url("../fonts/EuropeExt/EuropeExt.eot?#iefix") format("embedded-opentype"), url("../fonts/EuropeExt/EuropeExt.woff") format("woff"), url("../fonts/EuropeExt/EuropeExt.ttf") format("truetype"), url("../fonts/EuropeExt/EuropeExt.svg#EuropeExt") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/EuropeExt/EuropeExtBold.eot");
  src: url("../fonts/EuropeExt/EuropeExtBold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuropeExt/EuropeExtBold.woff") format("woff"), url("../fonts/EuropeExt/EuropeExtBold.ttf") format("truetype"), url("../fonts/EuropeExt/EuropeExtBold.svg#EuropeExt Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

@media screen and (max-width: 992pax) {
  header {
    margin-top: 40px; }
    header .contacts p {
      margin: 0;
      white-space: nowrap; }
    header .contacts span {
      font-weight: 700; }
  main .info-area .nav-tabs .nav-item .nav-link {
    width: 200px; }
  footer {
    font-size: 16px; }
    footer .privacy a {
      font-size: 14px;
      line-height: 10px; }
    footer .social a {
      width: 40px !important;
      height: 40px !important;
      font-size: 16px;
      padding: 6px !important;
      margin-right: 10px !important; }
    footer .email a {
      margin-right: 0 !important; } }

@media screen and (max-width: 768px) {
  header {
    margin-top: 40px; }
    header .contacts {
      margin-top: 30px; }
      header .contacts p {
        margin: 0;
        white-space: normal; }
      header .contacts span {
        font-weight: 700; }
    header .links {
      display: none; }
      header .links a {
        display: block;
        border: none !important; }
    header .menu_btn {
      display: inline-block !important; }
  main .map iframe {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100% !important;
    height: 330px !important; }
  main .left-menu {
    margin-bottom: 10px; }
  main .mobile-filter_btn {
    background-color: #093E8C;
    color: #fff;
    border: none;
    outline: none;
    padding: 13px 0; }
  main .left-menu_filter {
    display: none; }
    main .left-menu_filter-block {
      border-top: 1px solid #fff; }
      main .left-menu_filter-block_submenu {
        display: none; }
  main .slider {
    padding: 15px !important; }
    main .slider .slider-for img {
      padding-top: 30px !important;
      padding-bottom: 40px !important; }
  main .information {
    margin: 0 !important;
    margin-top: 40px !important; }
    main .information .btn_order {
      display: block !important;
      margin: 40px auto 0 !important; }
  main .info-area .nav-tabs .nav-item {
    margin-right: 5px; }
    main .info-area .nav-tabs .nav-item .nav-link {
      width: 100%;
      text-align: left;
      font-size: 12px;
      padding: 5px 5px;
      text-align: center; }
  main .info-area-text {
    margin-top: 20px !important;
    margin-bottom: 20px !important; }
  footer {
    font-size: 16px; }
    footer .privacy a {
      font-size: 14px; }
    footer .social {
      margin-top: 10px;
      margin-bottom: 10px; }
      footer .social a {
        width: 40px !important;
        height: 40px !important;
        padding: 8px !important;
        margin-right: 10px !important; }
        footer .social a:first-child {
          padding: 9px !important; }
    footer .email a {
      display: block; } }

body {
  background-color: #fff;
  font-family: "EuropeExt", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0; }

a {
  color: #fff; }
  a:hover {
    color: #fff;
    text-decoration: none; }

.separate {
  height: 30px;
  background: url("../img/separate.svg");
  background-repeat: repeat-x;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

header {
  margin-top: 40px; }
  header .logo svg {
    width: 100%; }
  header .contacts p {
    margin: 0;
    white-space: nowrap; }
  header .contacts span {
    font-weight: 700; }
  header .menu {
    z-index: 10000;
    background-color: #093E8C; }
    header .menu a {
      padding: 15px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      header .menu a:not(:last-child) {
        border-right: 2px solid #fff; }
      header .menu a:hover {
        background-color: #06295c; }
    header .menu .menu_btn {
      padding: 10px 45% 8px;
      display: none;
      background-color: #093E8C;
      color: #fff;
      border: none;
      outline: none; }
      header .menu .menu_btn i {
        font-size: 20px; }

main .swiper-container {
  width: 100%;
  height: 90vh; }
  main .swiper-container .swiper-slide {
    background-color: gray; }

main .map .container-fluid {
  padding: 0; }
  main .map .container-fluid iframe {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 530px;
    max-height: 40%; }

main .catalog-container {
  padding-top: 50px; }
  main .catalog-container-items a {
    color: #093E8C;
    font-weight: 700; }
    main .catalog-container-items a:hover p {
      color: #f6bc01; }
    main .catalog-container-items a span {
      position: relative;
      display: inline-block;
      overflow: hidden; }
      main .catalog-container-items a span:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #093e8c;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        opacity: 0; }
      main .catalog-container-items a span:hover:after {
        opacity: .5; }
      main .catalog-container-items a span img {
        border: 1px solid #093E8C;
        max-width: 100%;
        min-height: 80%; }
    main .catalog-container-items a p {
      color: #093E8C;
      font-weight: 700;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }

main .breadcrumb {
  margin-top: 30px;
  background-color: #fff; }
  main .breadcrumb .breadcrumb-item a {
    font-weight: 700;
    color: #093E8C;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    main .breadcrumb .breadcrumb-item a:hover {
      color: #f6bc01; }
  main .breadcrumb .breadcrumb-item.active {
    color: #000;
    font-weight: 700; }

main .left-menu {
  border: 2px solid #093E8C; }
  main .left-menu_filter-block {
    color: #093E8C; }
    main .left-menu_filter-block .btn-filter {
      display: block;
      position: relative;
      color: #fff;
      background-color: #093E8C;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      -webkit-transition: .1s;
      -o-transition: .1s;
      transition: .1s;
      padding: 13px 0 13px 10px;
      margin: 0 auto;
      text-align: left;
      font-weight: 700; }
      main .left-menu_filter-block .btn-filter:hover {
        background-color: #093E8C;
        color: #f6bc01; }
    main .left-menu_filter-block_submenu {
      text-align: left; }
      main .left-menu_filter-block_submenu a {
        display: inline-block;
        color: #093E8C;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        -webkit-transition: .1s;
        -o-transition: .1s;
        transition: .1s;
        padding: 13px 0 13px 10px;
        position: relative; }
        main .left-menu_filter-block_submenu a:hover {
          background-color: #093E8C;
          color: #fff; }
        main .left-menu_filter-block_submenu a:not(:last-child)::after {
          content: "";
          position: absolute;
          bottom: -0px;
          left: 5%;
          width: 90%;
          border-bottom: 1px solid #093E8C; }
      main .left-menu_filter-block_submenu input[type="number"] {
        width: 45%;
        border: 1px solid #093E8C;
        outline: none;
        margin-bottom: 5px;
        margin-top: 10px;
        text-align: center;
        vertical-align: middle; }
      main .left-menu_filter-block_submenu input[type=number]::-webkit-inner-spin-button,
      main .left-menu_filter-block_submenu input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
                appearance: none;
        margin: 0; }
      main .left-menu_filter-block_submenu #slider-range {
        display: inline-block;
        width: 90%;
        height: 3px;
        border: none;
        margin: 0 auto;
        background-color: lightgray;
        margin-bottom: 10px;
        margin-top: 10px; }
        main .left-menu_filter-block_submenu #slider-range .ui-slider-range {
          background-color: #093E8C; }
        main .left-menu_filter-block_submenu #slider-range .ui-slider-handle {
          width: 13px;
          height: 13px;
          border: none;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          background-color: #f6bc01;
          outline: none; }
      main .left-menu_filter-block_submenu .brand {
        position: relative;
        padding: 13px 0; }
        main .left-menu_filter-block_submenu .brand:not(:last-child)::after {
          content: "";
          position: absolute;
          bottom: -0px;
          left: 5%;
          width: 90%;
          border-bottom: 1px solid #093E8C; }
        main .left-menu_filter-block_submenu .brand label {
          display: block;
          margin-bottom: 5px;
          margin-top: 10px;
          text-align: left;
          margin-left: 20px;
          cursor: pointer; }
        main .left-menu_filter-block_submenu .brand input[type=checkbox] {
          display: none; }
        main .left-menu_filter-block_submenu .brand input[type=checkbox] + label::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 8px;
          border: 2px solid #ffffff;
          -webkit-box-shadow: 0 0 0 2px #093E8C;
                  box-shadow: 0 0 0 2px #093E8C; }
        main .left-menu_filter-block_submenu .brand input[type=checkbox]:checked + label::before {
          background: #093E8C;
          -webkit-box-shadow: 0 0 0 2px #093E8C;
                  box-shadow: 0 0 0 2px #093E8C; }
  main .left-menu_filter .left-menu_filter-block:nth-child(-n+2) .btn-filter {
    display: block;
    position: relative;
    color: #093E8C;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    padding: 13px 0 13px 10px;
    margin: 0 auto;
    text-align: left; }
    main .left-menu_filter .left-menu_filter-block:nth-child(-n+2) .btn-filter::after {
      content: "";
      position: absolute;
      bottom: -0px;
      left: 5%;
      width: 90%;
      border-bottom: 1px solid #093E8C; }
    main .left-menu_filter .left-menu_filter-block:nth-child(-n+2) .btn-filter:hover {
      color: #f6bc01; }
  main .left-menu_filter .left-menu_filter-block:nth-child(3) .btn-filter {
    color: #093E8C;
    background-color: #fff; }
    main .left-menu_filter .left-menu_filter-block:nth-child(3) .btn-filter:hover {
      color: #f6bc01; }

main .product .product-card {
  display: block;
  border: 2px solid #093E8C;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #093E8C;
  position: relative; }
  main .product .product-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #093e8c;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    opacity: 0; }
  main .product .product-card:hover:after {
    opacity: .5; }
  main .product .product-card:hover p {
    color: #093E8C; }
  main .product .product-card:hover i {
    color: #f6bc01;
    z-index: 2; }
  main .product .product-card img {
    display: block;
    padding: 10px 2px;
    max-width: 90%;
    min-height: 100%;
    margin: 0 auto;
    position: relative; }
  main .product .product-card p, main .product .product-card span {
    display: block;
    padding-left: 10px;
    font-weight: bold; }
  main .product .product-card p {
    color: #000;
    padding-top: 10px; }
  main .product .product-card span {
    padding-bottom: 65px; }
  main .product .product-card i {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #093E8C;
    font-size: 28px; }

main .slider {
  position: relative;
  margin: 0;
  padding: 0; }
  main .slider .slider-for {
    border: 1px solid #093E8C; }
    main .slider .slider-for a img {
      padding-top: 60px;
      padding-bottom: 80px;
      min-height: 100%;
      max-width: 100%; }
  main .slider .slider-nav {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px; }
    main .slider .slider-nav img {
      border: 1px solid #093E8C;
      margin-right: 10px;
      cursor: pointer;
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 50%; }
    main .slider .slider-nav .slick-arrow {
      position: absolute;
      z-index: 1000;
      height: 100%;
      padding: 0;
      margin: 0;
      width: 25px; }
    main .slider .slider-nav .slick-next {
      right: -11%;
      top: 75%; }
    main .slider .slider-nav .slick-prev {
      left: -11%;
      top: 75%; }

main .information {
  margin-left: 50px; }
  main .information h5 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700; }
  main .information span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px; }
  main .information .price {
    color: #093E8C;
    font-size: 26px;
    font-weight: 700; }
  main .information .btn_order {
    display: inline-block;
    background-color: #007967;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 13px 54px;
    margin-top: 40px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    main .information .btn_order:hover {
      background-color: #006051; }
    main .information .btn_order:active {
      background-color: #00463c; }
  main .information .characteristics {
    margin-top: 40px; }
    main .information .characteristics p {
      color: #777777;
      margin-bottom: 10px; }
      main .information .characteristics p span {
        margin: 0;
        padding: 0;
        color: #000;
        font-weight: 400; }
    main .information .characteristics p:first-child {
      color: #000;
      font-weight: 700; }

main .info-area {
  margin-top: 50px; }
  main .info-area .nav-tabs {
    border-bottom: 1px solid #093E8C; }
  main .info-area .nav-item {
    margin-right: 10px;
    -webkit-border-radius: 0;
            border-radius: 0; }
    main .info-area .nav-item .nav-link {
      width: 300px;
      color: #fff;
      background-color: #093E8C;
      border: 1px solid #093E8C;
      border-bottom-style: none;
      -webkit-border-radius: 0;
              border-radius: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      text-align: center;
      font-weight: 700;
      cursor: pointer; }
      main .info-area .nav-item .nav-link:hover {
        color: #f6bc01; }
    main .info-area .nav-item .active {
      background-color: #fff;
      color: #f6bc01; }
  main .info-area .info-area-text {
    display: none;
    min-height: 288px;
    margin-top: 50px;
    margin-bottom: 50px; }
    main .info-area .info-area-text.active {
      display: block; }
    main .info-area .info-area-text h5 {
      font-weight: 700; }

footer {
  margin-top: 20px;
  margin-bottom: 20px; }
  footer .row + div {
    border: 1px solid black; }
  footer .privacy a {
    color: #093E8C;
    font-weight: 700;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    footer .privacy a:hover {
      color: #f6bc01; }
  footer .social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #093E8C;
    color: #fff;
    padding-top: 6px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 20px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    footer .social a:last-child {
      margin-right: 0; }
    footer .social a:hover {
      background-color: #06295c;
      color: #f6bc01; }
  footer .email a {
    color: #093E8C;
    font-weight: 700;
    white-space: nowrap;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    footer .email a:first-child {
      margin-right: 20px; }
    footer .email a:hover {
      color: #f6bc01; }
